<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gst.trainingcourse.movie_home">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoVie_Home">
        <activity
            android:name=".SignIn.SignInActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailFilm.DetailActivity"
            android:exported="true"></activity>
        <activity
            android:name=".DetailFilm.content_trailer.ContentFilmActivity"
            android:exported="true"></activity>
        <activity
            android:name=".Activity.Appmovie"
            android:exported="true">

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>